<?xml version="1.0"?>
<!--
* @category    TheExtensionLab
* @package     TheExtensionLab_TinyMceConfig
* @copyright   Copyright (c) TheExtensionLab (http://www.theextensionlab.com)
* @license     Open Software License (OSL 3.0)
* @author      James Anelay @ TheExtensionLab <james@theextensionlab.com>
-->
<config>
    <modules>
        <TheExtensionLab_TinyMceConfig>
            <version>0.1.0</version>
        </TheExtensionLab_TinyMceConfig>
    </modules>

    <adminhtml>
        <layout>
            <updates>
                <theextensionlab_megamenu>
                    <file>theextensionlab/tinymceconfig.xml</file>
                </theextensionlab_megamenu>
            </updates>
        </layout>
    </adminhtml>
</config>